@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */

/* Définition des styles de base */
:root {
    --primary-color: #4f46e5; /* Couleur principale (indigo) */
    --secondary-color: #10b981; /* Couleur secondaire (vert) */
    --background-color: #ffffff; /* Couleur de fond par défaut */
    --text-color: #1f2937; /* Couleur du texte (gris foncé) */
  }
  
  /* Styles globaux */
  body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  /* Styles pour les boutons */
  button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--secondary-color);
  }
  
  /* Styles pour les titres */
  h1, h2, h3, h4 {
    color: var(--primary-color);
  }
  
  /* Autres styles globaux */
  .container {
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  
  /* Ajouter d'autres styles globaux selon vos besoins */
  